.inicio {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    background-color: #3e7db3;
    .rounded-circle{
        margin-bottom: 10px;
    }
    .social-icons {
        margin: 1rem 0;
        a {
            font-size: 2rem;
            margin: 0.5rem;
            color: white;
    
            &:hover {
                color: #022538;
                transition: all ease-in-out 250ms;
            }
        }
    }
    .scroll-indicator { 
        display: none;
    }
    
}
// Media query para dispositivos móviles
@media (max-width: 768px) {
    .inicio {
        height: 600px;
        .social-icons {
            a {
                font-size: 1.5rem; 
            }
        }
        .scroll-indicator {
            margin-top: 20px; 
            display: flex;
            flex-direction: column; 
            align-items: center;
            p {
                margin-bottom: 15px; 
                animation: float 2s ease-in-out infinite;
            }
            .bx {
                font-size: 2rem;
                animation: float 2s ease-in-out infinite;
            }
            @keyframes float {
                0% { transform: translateY(0px); }
                50% { transform: translateY(-10px); }
                100% { transform: translateY(0px); }
            }
        }        
    }
}
