<div class="inicio-container">
    <div class="container pt-4 d-flex align-items-center">
        <div class="row">
            <div class="col-lg-5 text-center text-lg-start">
                <img src="./assets/img/programador.png" alt="Programador" class="img-fluid">
                <h3>Emanuel Fermin</h3>
                <p class="lead">Frontend Developer jr | Android Developer jr</p>
                <div class="social-icons">
                    <a href="#"><i class='bx bxl-linkedin-square'></i></a>
                    <a href="#"><i class='bx bxl-whatsapp' ></i></a>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Acerca de mi</h4>
                        <p class="card-text">Egresado de la carrera de
                            Computación e Informática
                            parte del decimo superior, con experiencia en el desarrollo
                            web usando los frameworks de
                            angular, y en el móvil, en
                            android con java y kotlin.
                            <br>
                            En mis tiempos libres me gusta
                            tocar el bajo eléctrico</p>
                            <button class="btn btn-primary">Descargar CV</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
