<div class="datos">
    <div class="container">
        <h2>Acerca de mi</h2>
        <div class="row justify-content-center text-center mt-5">
            <div class="col-lg-5">
                <img src="./assets/img/programador.png" alt="Programador" class="img-fluid  rounded-circle">
            </div>
            <div class="col-lg-7">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-6">
                                <p class="card-text">Egresado de la carrera de
                                    Computación e Informática
                                    parte del decimo superior, con experiencia en el desarrollo
                                    web usando los frameworks de
                                    angular, y en el móvil, en
                                    android con java y kotlin.
                                    <br>
                                    En mis tiempos libres me gusta
                                    tocar el bajo eléctrico
                                </p>
                                <button class="btn btn-primary mt-3" (click)="downloadPdf()">Descargar CV</button>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="skills">
                                    <div class="skill-item">
                                        <h6>Desarrollo Web</h6>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 100%;"
                                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">100%</div>
                                        </div>
                                    </div>
                                    <div class="skill-item">
                                        <h6>Angular</h6>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 90%;"
                                                aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">90%</div>
                                        </div>
                                    </div>
                                    <div class="skill-item">
                                        <h6>Android</h6>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 80%;"
                                                aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">80%</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row pt-3">
            <div class="col-12">
                <hr class="divider" />
            </div>
        </div>
    </div>
</div>
