<div class="habilidades">
    <div class="container">
        <h2>Habilidades</h2>
        <p class="text-center">Algunas tecnologías que he usado a lo largo de mi formacion academica y
            profesional</p>
        <div class="row">
            @for (skill of skills; track skill.id) {
                <div class="col-12 col-md-4 skill">
                <i [class]="skill.class"></i>
                <div class="skill-info">
                    <h3>{{skill.name}}</h3>
                </div>
            </div>
            }
        </div>
        <div class="row pt-3">
            <hr class="divider">
        </div>
    </div>
</div>
