header {
    background: #3e7db3;

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}
nav {
    float: right;

    ul {
        margin: 0 550px 25px 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
        margin-left: 70px;
        padding-top: 23px;
        position: relative;
    }

    a {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;

        &:hover {
            color: #022538;
        }

        &::before {
            content: '';
            display: block;
            height: 5px;
            background-color: #022538;
            position: absolute;
            top: 100%;
            width: 0%;
            transition: all ease-in-out 250ms;
        }

        &:hover::before {
            width: 100%;
        }
    }
}